@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<h4>
    Fitness World has been a great place for people to get in shape, relieve stress, and make new friends since 2017. We pride ourselves on our ability to offer an excellent fitness facility, a wide variety of classes & programs, attention to detail, reasonable membership rates, and most importantly, ensuring the satisfaction of all our members.
</h4>
<h4>
    We believe that people of all ages and lifestyles, from small children to seniors, members of the business community to stay-at-home parents, should make fitness a part of their lives. With the diversity of equipment, and staff expertise, Fitness World certainly offers something for "every body".
</h4>
<h4>
    Whether you are a serious exercise enthusiast or just starting out, Fitness World has the programs, staff, equipment, and atmosphere to help you meet and even exceed your goals.
</h4>
