@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<h4>If you have questions, please feel free to call 0412127994 and </h4>
<h4>one of our friendly staff members can assist you or</h4>
<h4>Mail us at patell.deva@gmail.com </h4>