@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <section id="home">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h3>Hello! Welcome to the World of Fitness.</h3>
                    <h1>Fitness is Happiness</h1>
                    <h3>Find your Personal Trainer</h3>
                    <a href="/Reservations/Create" class="btn btn-default">Get Started</a>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New to website</h2>
        <h4>
            Click the button below to register an account.
        </h4>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Branches</h2>
        <h4>For your convinience and flexibility, We have different branches all over the city.</h4>
        <p><a class="btn btn-default" href="Branches/Index">Locate Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Opening Timings</h2>
        <h4>Monday - Sunday</h4>
        <h4>10:00 AM to  06:00 PM</h4>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.backstretch.min.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                jQuery(document).ready(function () {
                    $('#home').backstretch([
                        "/images/home-bg-slider-img1.jpg",
                        "/images/home-bg-slider-img2.jpg",
                    ], { duration: 2000, fade: 750 });
                });
            })
        });
    </script>
}
